.pixels-photo
  p
    img(src='https://drscdn.500px.org/photo/164602525/m%3D900/1415b2fc754b6ac8f4d3f9f1e379ff75', alt='The Imagination of Nature by Atul Makwana on 500px.com')
  a(href='https://500px.com/photo/164602525/the-imagination-of-nature-by-atul-makwana', alt='The Imagination of Nature by Atul Makwana on 500px.com')
script(type='text/javascript', src='https://500px.com/embed.js')