.pixels-photo
  p
    img(src='https://drscdn.500px.org/photo/166655867/m%3D900/1f3f94ebac83cdf2ba8b2ac44adc7490', alt='Rainy Morning by Atul Makwana on 500px.com')
  a(href='https://500px.com/photo/166655867/rainy-morning-by-atul-makwana', alt='Rainy Morning by Atul Makwana on 500px.com')
script(type='text/javascript', src='https://500px.com/embed.js')