.pixels-photo
  p
    img(src='https://drscdn.500px.org/photo/161397719/m%3D900/27b91f9eecf68c81efe7f56f0b943414', alt='Relaxing Butterfly by Atul Makwana on 500px.com')
  a(href='https://500px.com/photo/161397719/relaxing-butterfly-by-atul-makwana', alt='Relaxing Butterfly by Atul Makwana on 500px.com')
script(type='text/javascript', src='https://500px.com/embed.js')